{% extends "templates/base.html" %}

{% block title %}Progress Bar{% endblock %}

{% block content %}
<br>
<br>
<center><h3>Progress Bar Demo</h3></center>
{% for progressbar in progressbars %}
	<div class="progress progressbar" pk = "{{progressbar.pk}}" style = "height: 100px; padding : 1em; margin : 3em;">
	  <div class="progress-bar progress-bar-striped" pk = "{{progressbar.pk}}" role="progressbar" style="width: {{progressbar.quantity}}%;" aria-valuenow="{{progressbar.quantity}}" aria-valuemin="{{progressbar.minim}}" aria-valuemax="{{progressbar.maxim}}">{{progressbar.quantity}}%</div>
	</div>
{% endfor %}
{% endblock %}


{% block javascript %}
<script type="text/javascript" src = "/static/js/reconnecting-websocket.js"></script>
<script type="text/javascript" src = "static/js/custom_ajax.js"></script>
<script type="text/javascript" src = "static/js/progress_bar.js"></script>
<script type="text/javascript" src = "static/js/main_progressbar.js"></script>
{% endblock %}


